html {
    background-color: darkcyan;
    font-weight: bold;
    font-family: cursive;
    text-align: center;
    margin: auto;
}

iframe {
    border-style: groove;
    border-color: blue;
    margin: auto;
    background-color: darkcyan;
}

p {
    color: ghostwhite;
    margin: auto;
}
