html {
    background-color: darkblue;
    font-weight: bold;
    font-family: cursive;
    text-align: center;
    margin: auto;
}

iframe {
    border-style: groove;
    border-color: blue;
    margin: auto;
}


    
